<div class="c7d23b582 ce0229335 text ce14e9b45" data-action-text="" data-alternate-action-text="">
  <label class="c4027ec2d no-js ce37bc1ee cc4f63213" for="{{name}}">
    {{> @partial-block }}
  </label>

  <input class="input c419b2d53 c77b2be71" name="{{name}}" id="{{name}}" type="text" aria-label="First name" value="" {{#if required}}required{{/if}} autoComplete="{{autoComplete}}" {{#if autoFocus}}autoFocus{{/if}} />

  <div class="c4027ec2d js-required ce37bc1ee cc4f63213" data-dynamic-label-for="{{name}}">
    {{> @partial-block }}
  </div>
</div>
